# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / Databricks artifacts
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Logs
*.log

# Virtual environment
venv/
.env/